.aPropos {
  .header {
    height: 223px;
    position: relative;
    text-align: center;
    margin-top: 50px;
    margin: 30px 100px 0 100px;

    .imgHeader {
      height: 223px;
      width: 100%;
      object-fit: cover;
      position: relative;
      border-radius: 25px;
      filter: brightness(0.7);
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background: #000;
      border-radius: 25px;
    }
  }

  .listeCollapse {
    margin: 51px 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

// Responsive tablette
@media screen and (max-width: 1024px) {
}

// Responsive mobile
@media screen and (max-width: 768px) {
  .aPropos {
    .header {
      margin: 30px 20px 0 20px;
      height: 111px;

      .imgHeader {
        height: 111px;
      }
    }

    .listeCollapse {
      margin: 19px 20px 19px 20px;
    }
  }
}
