@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 100px 0 100px;
}
nav .links {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
nav .links .link {
  text-decoration: none;
  color: #ff6060;
  font-size: 24px;
  font-weight: 500;
}
nav .links .link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  nav {
    margin: 30px 20px 0 20px;
  }
  nav .logo {
    width: 145px;
  }
  nav .links .link {
    font-size: 12px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 29px;
  background-color: black;
  padding: 66px 0 29px 0;
}
.footer .text {
  color: white;
}
.footer .text .break {
  display: none;
}

@media screen and (max-width: 768px) {
  .footer .text .break {
    display: flex;
  }
}
.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 139px;
}
.errorContainer .error {
  font-size: 288px;
  font-weight: 700;
  color: #ff6060;
}
.errorContainer .errorText {
  font-size: 36px;
  font-weight: 500;
  color: #ff6060;
}
.errorContainer .errorLink {
  font-size: 18px;
  font-weight: 500;
  color: #ff6060;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .errorContainer {
    text-align: center;
    gap: 113px;
  }
  .errorContainer .error {
    font-size: 96px;
  }
  .errorContainer .errorText {
    font-size: 18px;
  }
  .errorContainer .errorLink {
    font-size: 18px;
  }
}
.header {
  height: 223px;
  position: relative;
  text-align: center;
  margin-top: 50px;
  margin: 30px 100px 0 100px;
}
.header .imgHeader {
  height: 223px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  border-radius: 25px;
}
.header .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: #000;
  border-radius: 25px;
}
.header .textHeader {
  margin: 0;
  font-size: 48px;
  font-weight: 500;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .textHeader .breack {
  display: none;
}

.listeLocation {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  margin-top: 43px;
  border-radius: 25px;
  padding: 56px 0;
  margin: 30px 100px 50px 100px;
}

@media screen and (max-width: 768px) {
  .header {
    margin: 30px 20px 0 20px;
    height: 111px;
  }
  .header .imgHeader {
    height: 111px;
  }
  .header .textHeader {
    font-size: 24px;
    text-align: left;
    left: 36%;
  }
  .header .textHeader .breack {
    display: flex;
  }
  .listeLocation {
    margin: 30px 20px 27px 20px;
    padding: 0;
    flex-direction: column;
    background-color: transparent;
  }
}
.card {
  display: flex;
  flex-direction: column;
  position: relative;
}
.card .imgCard {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 300px;
  font-weight: 500;
  font-size: 18px;
  color: white;
  z-index: 2;
}
.card .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .card .imgCard {
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}/*# sourceMappingURL=main.css.map */