@import "layout/header.scss";
@import "layout/footer.scss";
@import "pages/home.scss";
@import "components/card.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
